body {
  background: #F9F9F9;
}
h1 {
  font-size: 21px;
}
.form_string {
  max-width: 470px;
  margin-bottom: 15px;
}
.small-nav {
  margin: 0 0 10px 0;
}
.small-nav > li > a {
  padding: 5px 10px;
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
.copyright {
  padding: 15px 0 0 0;
  float: right;
  color: #777;
}
.copyright a,
.counters a {
  color: #777;
}
.counters {
  padding: 15px 0 0 0;
  color: #777;
}
.main {
  background-color: #FFF;
  padding: 10px 15px 15px 15px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.phdr {
  padding: 10px 0;
}
.topmenu {
  padding-bottom: 15px;
}
.icon {
  padding: 0 7px 0 0;
}
h1 {
  margin-top: 10px;
}
.list1 {
  background: #fff none repeat scroll 0 0;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.list2 {
  background: #fff none repeat scroll 0 0;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.list1 .post_text a,
.list2 .post_text a {
  text-decoration: underline;
}
.list_item {
  display: table;
  width: 100%;
}
.list_item .user_row {
  display: block;
}
.list_item .user_row .user_str {
  display: table-row;
}
.list_item .user_row .user_str .photo {
  display: table-cell;
  padding: 0;
  width: 70px;
  vertical-align: top;
}
.list_item .user_row .user_str .body {
  display: table-cell;
  padding: 0 5px;
  vertical-align: top;
}
.list_item .user_row .text_body {
  width: 100%;
  padding: 10px 0 0;
}
.list_item .user_row .text_body .sub {
  margin: 5px 0 5px 0;
}
.list_item .user_row .text_body .sub .browser {
  color: #999999;
  font-size: 12px;
}
.list_item .user_row .text_body .sub .ip {
  color: #999999;
  font-size: 12px;
}
.list_item .user_row .text_body .sub .first_sub {
  border-top: 1px dotted #cccccc;
  padding: 5px 0;
}
.list_item .user_row .body .user_name {
  font-size: 19px;
  word-break: break-all;
}
.list_item .user_row .body .user_name a {
  color: #000;
  font-weight: bold;
}
.list_item .user_row .body .user_name .date_comment {
  float: right;
  color: rgba(0, 39, 59, 0.35);
  font-size: 14px;
  padding: 4px 0 0 5px;
}
.list_item .user_row .body .user_name .user_login {
  padding: 0 5px;
}
.list_item .user_row .body .status {
  margin: 0 0 5px 0;
  font-size: 15px;
}
.list_item .user_row .avatar {
  position: relative;
  width: 75px;
}
.list_item .user_row .avatar .status {
  position: absolute;
  top: 0;
  right: 7px;
}
.list_item .user_row .avatar .post {
  position: absolute;
  bottom: 0;
  right: 7px;
}
.list_item .user_row .avatar img {
  border-radius: 50%;
}
.news-list .news-item {
  margin: 0;
  border-bottom: 1px dotted #cccccc;
}
.news-list .news-item h3 {
  font-size: 19px;
  font-weight: 700;
}
.news-list .news-item .preview-text {
  padding: 0 0 5px 0;
}
.news-list .news-item .sub {
  padding: 10px 0;
}
.news-list .news-item .author {
  color: #999999;
  font-size: 12px;
}
.forum_post .avatar {
  position: relative;
  width: 75px;
}
.forum_post .avatar img {
  border-radius: 50%;
}
.forum_post .avatar .post {
  position: absolute;
  bottom: 0;
  right: 7px;
}
.forum_post .avatar .status {
  position: absolute;
  top: 0;
  right: 7px;
}
.forum_post .user_login {
  padding: 0 5px;
  font-size: 19px;
}
.forum_post .post_date {
  color: rgba(0, 39, 59, 0.35);
  float: right;
}
.forum_post .browser {
  color: #999999;
  font-size: 12px;
  padding: 5px 0 0 0;
}
.forum_post .check_post {
  padding: 0px 5px 0 0;
}
.forum_post .post_text {
  padding: 15px 0 5px;
  word-wrap: break-word;
}
.forum_post table {
  width: 100%;
}
.forum_post table td:first-of-type {
  width: 80px;
}
.total-items {
  padding: 15px 0;
}
.pagination {
  margin: 8px 0;
}
.label_margin {
  margin: 10px 0;
}
.sub {
  font-size: 12px;
  padding: 2px 0;
}
.gmenu {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 5px;
}
.menu,
.user,
.bmenu {
  background: #fff none repeat scroll 0 0;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.menu h3,
.user h3,
.bmenu h3,
.list2 h3,
.list1 h3,
.gmenu h3 {
  margin-top: 0;
}
.rmenu {
  background: #f2dede none repeat scroll 0 0;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #eed3d7;
  border-radius: 5px;
}
.links_home {
  padding: 20px 0;
}
.arrow li {
  margin: 5px 0;
}
